.square-black {
  width: 5vw;
  height: 5vw;
  float: left;
  font-size: 4vw;
  text-align: center;
  line-height: 5vw;
  background-color: #c0c0c0;
}
.square-black:hover {
  background-color: #c6c6ad;
}
.square-white {
  width: 5vw;
  height: 5vw;
  float: left;
  font-size: 4vw;
  text-align: center;
  line-height: 5vw;
  background-color: #e0e0e0;
}
.square-white:hover {
  background-color: #e3e3ca;
}
.square-black-valid {
  width: 5vw;
  height: 5vw;
  float: left;
  font-size: 4vw;
  text-align: center;
  line-height: 5vw;
  background-color: #adc6ad;
}
.square-black-valid:hover {
  background-color: #9ccc9c;
}
.square-black-invalid {
  width: 5vw;
  height: 5vw;
  float: left;
  font-size: 4vw;
  text-align: center;
  line-height: 5vw;
  background-color: #c6adad;
}
.square-black-invalid:hover {
  background-color: #cc9c9c;
}
.square-white-valid {
  width: 5vw;
  height: 5vw;
  float: left;
  font-size: 4vw;
  text-align: center;
  line-height: 5vw;
  background-color: #cae3ca;
}
.square-white-valid:hover {
  background-color: #b5e6b5;
}
.square-white-invalid {
  width: 5vw;
  height: 5vw;
  float: left;
  font-size: 4vw;
  text-align: center;
  line-height: 5vw;
  background-color: #e3caca;
}
.square-white-invalid:hover {
  background-color: #e6b5b5;
}
.square-selected {
  width: 5vw;
  height: 5vw;
  float: left;
  font-size: 4vw;
  text-align: center;
  line-height: 5vw;
  background-color: #ffff00;
}
.square-selected:hover {
  background-color: #ffff00;
}
