<div class="">
  <section class="ui">
    <h1 class="header1">Twitch plays chess</h1>
    <h2 class="header1">{{turnMessage()}} You play as {{color}}</h2>
    <h3>{{notification}}</h3>
    <!-- <div class="ui segments"> -->
    <div>
      <div class="ui two left grid">
        <div ng-repeat="y in [1,2,3,4,5,6,7,8]">
          <div class="left" ng-repeat="x in [1,2,3,4,5,6,7,8]">
            <div ng-class="chooseColor(x,y)" ng-click="clickCell(x,y)">
              {{board[x - 1][y - 1]}}
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div ng-repeat="s in moveOptions"><button ng-click="setOther(s.type)">{{s.title}}</button></div>
        <table>
          <tr>
            <th>Move</th>
            <th>Vote count</th>
          </tr>
          <tr ng-repeat="v in votes" ng-class="voteHighlighter(v)" ng-mouseover="showMove(v)" ng-mouseleave="showYourMove()">
            <td>{{notateMove(v)}}</td>
            <td>{{v.count}}</td>
          </tr>
        </table>
      </div>
      <div>
        <img class="ui spaced image" src="img/nodejs.png">
      </div>
    </div>
  </section>
</div>
